:root {
    --color-1: #2f5249;    
    --color-2: #97b067;    
    --color-3: #e3df61;     
}

/* Page */
body {
    background-color: var(--color-2);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    color: var(--color-1);
}

/* Main container */
main {
    width: 350px;
    background: var(--color-3);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.25);
    text-align: center;
    border: 4px solid var(--color-1);
}


#pet-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    border: 4px solid var(--color-1);
    margin-bottom: 15px;
}


#pet-message {
    font-size: 22px;
    font-weight: bold;
    color: var(--color-1);
    margin-bottom: 20px;
}


.bar {
    width: 100%;
    height: 20px;
    background-color: #ffffff66;  
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
    border: 2px solid var(--color-1);
}

.bar-fill {
    height: 100%;
    background-color: var(--color-1);
    width: 0%;
    transition: 0.3s;
}


#day-counter {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: var(--color-1);
}


button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background-color: var(--color-1);
    color: var(--color-3);
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: var(--color-3);
    color: var(--color-1);
    transform: scale(1.05);
}

