:root {
    --color-1: #2f5249;     
    --color-2: #97b067;     
    --color-3: #e3df61;     
}

body {
    background-color: var(--color-2);
    color: var(--color-1);
    font-family: Arial, sans-serif;
    padding: 20px;
}

/* Aðal titill */
h1 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 30px;
}

/* Titil */
h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 15px;
    color: var(--color-1);
}

/* Hóparnir */
section {
    background-color: var(--color-3);
    padding: 20px;
    border-radius: 15px;
    width: 90%;
    max-width: 600px;
    margin: 25px auto;
    border: 4px solid var(--color-1);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

/* Takki fyrir hvert dýr */
section button {
    width: 90%;
    padding: 15px;
    margin: 10px auto;
    display: block;
    font-size: 20px;
    background-color: var(--color-1);
    color: var(--color-3);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

/* Láta takkan breyta um lit þegar mús fer yfir takka*/
section button:hover {
    background-color: var(--color-3);
    color: var(--color-1);
    transform: scale(1.05);
}

/* Fyrir minni skjá */
@media (min-width: 700px) {
    section button {
        width: 70%;
    }
}
